# Injections
src/panels/_python.ts
**/.images/*
**/.projects/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python
*.pyc
build/*
*.egg-info
pip-wheel-metadata
**/.ipynb_checkpoints/*
dist/*
**/mlruns/*
*.zip
