$blockName: c-color-picker;

.#{$blockName} .react-colorful__saturation {
  margin-bottom: 12px;
  border-radius: 5px;
  border-bottom: none;
  cursor: pointer;
}

.#{$blockName} .react-colorful__hue {
  margin-bottom: 12px;
}

.#{$blockName} .react-colorful__hue,
.#{$blockName} .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.#{$blockName} .react-colorful__hue-pointer,
.#{$blockName} .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}

.#{$blockName} .react-colorful__saturation-pointer {
  width: 24px;
  height: 24px;
}

.#{$blockName} {
  &__input {
    border: 1px solid #ddd;
    outline: none;
    padding: 2px;
    margin-top: 12px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &__input:focus {
    box-shadow: 0 0 0 1px #ccc;
    border-color: #ccc;
  }
}
